
body {
  /*background: mediumaquamarine;*/
}
h1 {
  color: white;
}
#container {
  margin-top: 60px;
  margin-left: 30%;
  padding: 40px;
  width: 33%;
  background-color: rgba(216, 191, 216, .9);
  border-radius: 10px;
}
button {
  border-radius: 5px;
  color: white;
}
ul {
  list-style: none;
}
.todo {
  text-transform: capitalize;
  padding: 10px;
}
.remove {
  color: white;
  text-transform: lowercase;
  font-weight: bold;
  float: right;
  padding: 0 20px;
}
.remove:hover {
  color: aquamarine;
  cursor: pointer;
}
li.complete {
  text-decoration: line-through;
  color: silver;
}
#list {
  width: 95%;
}
footer {
  padding-top: 20px;
}


